.background    { background: rgb(200, 140, 255);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(225, 75, 25); }
.wall          { background: rgb(75, 75, 75);   }

.actor  { position: absolute;  }
.player { background: rgb(250, 250, 0); }
.coin   { background: rgb(220, 200, 75); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
